<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" verbose="true" bootstrap="./phpunit-bootstrap.php">
    <php>
        <includePath>./src</includePath>
        <includePath>./api</includePath>
    </php>
    <testsuites>
        <testsuite name="Tests">
            <directory suffix="Test.php" phpVersion="7.0" phpVersionOperator=">=">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <directory suffix=".php">./api</directory>
        </whitelist>
    </filter>
</phpunit>