<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"/>
    <style>
        {{> sample_style }}
    </style>
</head>

<body>
<div id="container" class="page">
    <p class="header_images">
        {{> sample_logo.jpg }}
    </p>

    <p>
        <span class="char-style-override-2" style="line-height: 1.2;">A Sample Template</span>
    </p>

    <p>
        <span class="char-style-override-3">This is to certify</span>
    </p>

    <p>
        <span class="char-style-override-1">
            {{ name }}
        </span>
    </p>

    <p>
        has rendered a template
    </p>

    <p>
        <span>Presented by {{ company.name }}, {{ company.address }}</span>
    </p>

    <p>
        <span>Template rendered on {{ completedOn }}</span>
    </p>

    <p>
        {{> sample_signature.png }}
    </p>
    <p>
        John Hancock
    </p>
    <p>
        Patriot, USA
    </p>

</div>
</body>
</html>
