{{#with approvals.nha as |nha|}}
<table width="100%">
    <tr>
        <td width="65%">
            <span class="char-style-override-1">NHA</span>
            <br />
            <span>
            {{#with nha.[0] as |approval|~}}
                {{approval.statement}} NAB/NCERS Approval #:{{approval.code}}
            {{~/with}}
            </span>
        </td>
    </tr>
</table>
{{/with}}
