<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"/>
    <style>
        {{> standard_certificate_style}}
    </style>
</head>

<body>
<div id="container" class="page">
    <p class="header_images">
        {{> nara_certificate_logo.jpg }}
    </p>

    <p style="text-align:center;">
        Certificate #: <span class="char-style-override-6">{{ certificate.number }}</span>
    </p>

    <p>
        <span class="char-style-override-2" style="line-height: 1.2;">Course Certificate</span>
    </p>

    <p>
        <span class="char-style-override-3">This is to certify</span>
    </p>

    <p>
        <span class="char-style-override-1">
            {{> student_name}} - {{> student_licenses}}
        </span>
    </p>

    <p>
        <span>has successfully completed </span>
        <span class="char-style-override-1">{{ course.hours }} contact hours</span>
        <span>{{> course_format }} on the topic of:</span>
    </p>

    <p>
        <span class="char-style-override-4">{{ course.name }}</span>
        <br/>
        {{> course_authors }}
    </p>

    <p>
        <span>
            Presented by National Association of Rehab Providers and Agencies
            <br/>
            701 8th Street NW, Suite 500; Washington, DC  20001
        </span>
    </p>

    <p>
        <span>Course completed on {{ completionDate }}</span>
    </p>

    <p>
        {{> nara_signature.bmp }}
    </p>
    <p>
        Christie L. Sheets, COC, CPB
    </p>
    <p>
        CE Administrator, The National Association of Rehabilitation Providers and Agencies
    </p>

    {{> ot-cota}}
    {{> pt-pta}}
    {{> slp}}

    {{#if course.atcCode}}
    <div style="text-align: center">
        {{> nara_asha_block.png }}
    </div>
    <span class="char-style-override-5">
            Course {{course.atcCode}} This course is offered for up to {{course.hours}} CEUs (Intermediate Level, Related Area)
        </span>
    {{/if}}

</div>
</body>
</html>
