<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"/>
    <style>
        {{> standard_certificate_style}}
    </style>
</head>

<body>
<div id="container" class="page">
    <p class="header_images">
        {{> homeceu_logo.png }}
    </p>

    <span id="cert_number" style="float: right;">Enrollment #: {{ enrollmentId }}</span>
    <div style="clear:both"></div>
    <h1>Certificate of Course Completion</h1>

    <h3 style="font-weight:normal">This is to certify</h3>

    <h2>{{> student_name }}</h2>
    <h3 style="font-weight:normal">has completed</h3>
    <h2>{{ course.name }}</h2>
    {{#if course.hours }}
        <h3 style="font-weight:normal">a(n) {{ course.hours }} hour development and/or training program</h3>
    {{/if}}

    <h2 style="font-weight:normal">Course completed on {{ completionDate }}</h2>

    <p>
        {{> sig_anne.jpg }}
    </p>

    <p id="homeceuinfo">Presented by HomeCEUConnection.com, 5048 Tennyson Pkwy, Suite 200 Plano TX</p>

</div>
</body>
</html>
